.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  cursor: pointer;
  position: relative;
  padding: 4vw;
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;
  font-family: 'OCR A STD', monospace;
  text-transform: uppercase;
  text-align: left;
  height: 300px;
  width: 300px;
}

.card__img,
.card__img-wrap,
.card__img-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__img,
.card__img-inner {
  background-size: cover;
  background-position: 50% 50%;
}

.card__img,
.card__img-wrap {
  overflow: hidden;
}

.card__img {
  z-index: -1;
  pointer-events: none;
  --columns: 0;
  --rows: 0;
}

.js .card__img {
  opacity: 0;
  background-image: none !important;
}

.card__img-inner {
  filter: brightness(0.6);
  width: calc(100% + (var(--columns) - 1) * 1px);
  height: calc(100% + (var(--rows) - 1) * 1px);
}

.card__date {
  display: flex;
  align-content: center;
  align-items: center;
  line-height: 1;
  position: relative;
}

.card__date::before {
  //   content: '';
  //   width: 15px;
  //   height: 15px;
  //   border: 1px solid var(--color-link);
  //   background: var(--color-bg-date);
  //   margin: 0 10px 4px 0;
}

.card__title {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.card__link {
  position: relative;
}

.card__link::before {
  content: '+';
  margin-right: 10px;
}

// .card__title-letter {
//   color: #fff;
// }

//   &:after {
//     animation: changeLetter 3s linear infinite alternate;
//     // display: block;
//     content: var(--char);
//   }

// .card:hover .card__title-letter:after {
//   color: red;
//   animation: changeLetter 3s linear infinite alternate;
// }
